 @import '../settings';

.wrap-quantum {
}

.wrap-reset {
	overflow: auto !important;
	.btn-reset {
		border: 1px solid #cc2936 !important;
		color: #cc2936 !important;
		span {
	    font-size: 16px;
	    position: relative;
	    top: 0px;
		}
		i {
			background: transparent !important;
	    font-size: 24px;
		}

		&:hover {
			background:#cc2936 !important;
			color:white !important;
		}

		&:focus {
			background:#cc2936 !important;
			color:white !important;
		}
	}
}

.wrap-btn-add-process ,
.wrap-btn-calc {
	float:left !important;
	.btn {
		border: 1px solid #cc2936;
		color: #cc2936;
		&:hover {
			background:#cc2936;
			color:white;
		}
		span {
	    font-size: 16px;
	    position: relative;
	    top: 0px;
		}
		i {
			background: transparent !important;
	    font-size: 24px;
		}
	}
}
.wrap-inputs {
  height: 100px;
}

table {
	margin-top: 40px;
}

.btn-confirm {
	border: 1px solid #cc2936;
	color: #cc2936;

	span {
    font-size: 16px;
    position: relative;
    top: 0px;
	}
	i {
		background: transparent !important;
    font-size: 24px;
	}

	&:focus {
		background:#cc2936;
		color:white;

	}
}

.wrap-entry {
	position: relative;
	margin: 0px auto !important;
}

.input-color {
	background: none;
	border: none;
	width: 20px;
	cursor: pointer;
	height: 20px;
}
