@import '../settings';

.wrap-gand {
  overflow-x: scroll;
  .gand-container {
    height: 80px;
    position: relative;
    margin-top: 20px;
    margin-left: 20px;
    display: inline-flex;
    .wrap-process {
      height: 40px;
      display: inline-block;
      vertical-align: middle;
      .process {
        display: inline;
        position: absolute;
        bottom: -23px;
        left: -7px;
      }
    }
  }
}


.cpu-time {
  float: right;
  position: relative;
  left: 0px;
  top: 40px;
}

.tll {
  position: relative;
  top: 40px;
}