@import '../settings';

.invalid {
  border-color: $error !important;
}

.empty {
  border-color: $warning !important;
}
.valid {
  border-color: $primary !important;
}
.default {
  color: $black;
}

.search-by {
  margin-top: 10px;
  .input-search {
    background: white;
    font-family: "Open Sans";
    vertical-align: top;
    padding: 5px;
    outline: none;
    border: 1px solid #17255A;
    transition: all 0.25s;
    width: 100%;
    color: #1d1d1d;
    font-size: 15px;
    border-radius: 5px;
    padding: 10px;

  }
}




.search-by_date {
  font-size: 16px;
  margin-top: 10px;
  i {
    vertical-align: bottom;
    font-size: 26px;
    padding-right: 5px;
    color: $primary;
  }
  .input_start_at {
    vertical-align: middle;
    border: none;
    border-bottom: 1px solid $primary;
    padding-top: 3px;
    outline:none;
    color: $secondary;
    width: calc(100% - 34px);
  }
}

@media (max-width: 1024px) {
  .search-by_date {
    margin-bottom: 15px;
    margin-top: 15px;
  }
}

.push-msg {
  margin-left: 0px;
}

.input-msg {
  font-size: 12px;
  font-family: $global-font-family-light;
  display: inline-block;
  line-height: 1.4;
  margin-top: 5px;
  transition: all 0.25s;
  animation-name: appear;
  animation-duration: 0.25s;
  animation-fill-mode: forwards;
}



@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

