/* Coolors Exported Palette - coolors.co/cc2936-17255a-f3f9d2-cbeaa6-c0d684 */

/* HSL */
$color1: hsla(355%, 67%, 48%, 1);
$color2: hsla(227%, 59%, 22%, 1);
$color3: hsla(69%, 76%, 90%, 1);
$color4: hsla(87%, 62%, 78%, 1);
$color5: hsla(76%, 50%, 68%, 1);

/* RGB */
$color1: rgba(204, 41, 54, 1);
$color2: rgba(23, 37, 90, 1);
$color3: rgba(243, 249, 210, 1);
$color4: rgba(203, 234, 166, 1);
$color5: rgba(192, 214, 132, 1);
