/* Coolors Exported Palette - coolors.co/ff0022-41ead4-fdfffc-b91372-0f0326 */

/* HSL */
$color1: hsla(352%, 100%, 50%, 1);
$color2: hsla(172%, 80%, 59%, 1);
$color3: hsla(100%, 100%, 99%, 1);
$color4: hsla(326%, 81%, 40%, 1);
$color5: hsla(261%, 85%, 8%, 1);

/* RGB */
$color1: rgba(255, 0, 34, 1);
$color2: rgba(65, 234, 212, 1);
$color3: rgba(253, 255, 252, 1);
$color4: rgba(185, 19, 114, 1);
$color5: rgba(15, 3, 38, 1);