@import "./app.scss";
@import "./palette.scss";
@import 'settings';


@include foundation-visibility-classes;
@include foundation-global-styles;
@include foundation-grid;

body {	
	background: #fff;
}

.dashboard-container {
	background:white;
	box-shadow: 0px 0px 10px black;
  padding: 5px;
  min-height: 300px;
}

#content-container {
	.title-container  {
		.title {
			font-family: "Open Sans";
			color: #17255A;
			margin: 0px;
			font-size: 40px;
			.line-top {
				display: none;
			}
			.line-bottom {
				position: relative;
		    margin: 0px auto;
		    margin-top: 10px;
		    padding-top: 1px;
		    width: 50px;
		    height: 4px;
		    background: #17255A;
		    border-color: #17255A;
			}
		}
	}
}

.section_options {
  margin: 0px;
  margin-top: 45px;
}
