@import "./app.scss";
@import "./palette.scss";
@import 'settings';


@include foundation-visibility-classes;
@include foundation-global-styles;
@include foundation-grid;

body {	
	background: #fff;
}


.tabs-content {
	border: none;
	padding-top: 20px;
}